---

port: 4000
host: 0.0.0.0
safe: false


### site serving configuration ###
exclude: [CNAME, README.md, .gitignore]
permalink: /:title ## disables post output
timezone: null
lsi: false
markdown: kramdown
highlighter: rouge


### content configuration ###
title:       "OpenCon Switzerland 2018"
keywords:    "OpenCon, Switzerland, Conference, Satellite"
description: "OpenCon Satellite, Bern, Sep 21-22 2018"
source_link: "https://openconch.github.io"
favicon:     "img/favicon.ico"
touch_icon:  "img/touch-icon.png"
google_analytics_key: UA-118294541-1


### template colors, used site-wide via css ###
colors:
  black:     '#111111'
  white:     '#f8f8f8'
  blue:      '#49a7e9'
  green:     '#9bcf2f'
  purple:    '#c869bf'
  orange:    '#fab125'
  turquoise: '#0fbfcf'

kramdown:
  auto_ids:  false

